<div class="row" style="margin-top: 20px;">
    <div class="col-md-4 col-md-offset-4">
        <div class="box box-success direct-chat direct-chat-success">
            <div class="box-header with-border">
                <h3 class="box-title">Welcome: {{username}}</h3>

                <div class="box-tools pull-right">
                    <span data-toggle="tooltip" title="" class="badge bg-yellow"
                          data-original-title="3 New Messages">{{messages.length}}</span>
                </div>
            </div>

            <div class="box-body">
                <div class="direct-chat-messages">
                    <div class="direct-chat-msg" ng-class="{right:msg.username==username}"
                         ng-repeat="msg in messages track by $index">
                        <div class="direct-chat-info clearfix">
                            <span class="direct-chat-name"
                                  ng-class="{'pull-right':msg.username==username,'pull-left':msg.username!=username}">{{msg.username}}</span>
                            <span class="direct-chat-timestamp"
                                  ng-class="{'pull-right':msg.username!=username,'pull-left':msg.username==username}">{{ msg.date | date:'yyyy-MM-dd HH:mm:ss' }}</span>
                        </div>
                        <img class="direct-chat-img" ng-src="{{msg.portrait}}" alt="Message User Image">
                        <div class="direct-chat-text">
                            {{msg.message}}
                        </div>
                    </div>

                </div>
            </div>
            <div class="box-footer">
                <form>
                    <div class="input-group">
                        <input type="text" name="message" placeholder="Type Message ..." class="form-control"
                               ng-model="message">
                        <span class="input-group-btn">
                        <button type="submit" class="btn btn-success btn-flat" ng-click="sendHandler()">Send</button>
                      </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
