<div class="lockscreen-wrapper lockscreen">
    <div class="lockscreen-logo">
        <a><b>Chat</b>Room</a>
    </div>
    <div class="lockscreen-name"></div>
    <div class="lockscreen-item">
        <div class="lockscreen-image">
            <img src="assets/images/9.png" alt="User Image">
        </div>
        <form class="lockscreen-credentials">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="请输入用户名" ng-model="username" focus
                       ng-keyup="keyupHandler($event)">

                <div class="input-group-btn">
                    <button type="button" class="btn"><i class="fa fa-arrow-right text-muted"
                                                         ng-click="loginHandler()"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div class="help-block text-center">
    </div>
    <div class="text-center">
    </div>
    <div class="lockscreen-footer text-center">
        Copyright © 2017-2030 <b><a class="text-black">OES拓扑团队</a></b><br>
        保留所有权利
    </div>
</div>